<div class="basket-inner">
    <div class="basket-header">
        <h2>Warenkorb</h2>
        <div class="delivery-toggle">
            <div id="delivery-btn" class="btn btn-sm btn-ghost btn-block active" onclick="deliveryService()">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 256 256">
                    <path
                        d="M208,112a47.81,47.81,0,0,0-16.93,3.09L165.93,72H192a8,8,0,0,1,8,8,8,8,0,0,0,16,0,24,24,0,0,0-24-24H152a8,8,0,0,0-6.91,12l11.65,20H99.26L82.91,60A8,8,0,0,0,76,56H48a8,8,0,0,0,0,16H71.41L85.12,95.51,69.41,117.06a48.13,48.13,0,1,0,12.92,9.44l11.59-15.9L125.09,164A8,8,0,1,0,138.91,156l-30.32-52h57.48l11.19,19.17A48,48,0,1,0,208,112ZM80,160a32,32,0,1,1-20.21-29.74l-18.25,25a8,8,0,1,0,12.92,9.42l18.25-25A31.88,31.88,0,0,1,80,160Zm128,32a32,32,0,0,1-22.51-54.72L201.09,164A8,8,0,1,0,214.91,156L199.3,129.21A32,32,0,1,1,208,192Z">
                    </path>
                </svg>
                Lieferung
                <span class="text-sm">ca. 60 min</span>
            </div>
            <div id="pickup-btn" class="btn btn-sm btn-ghost btn-block" onclick="pickupService()">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 256 256">
                    <path
                        d="M232,198.65V240a8,8,0,0,1-16,0V198.65A74.84,74.84,0,0,0,192,144v58.35a8,8,0,0,1-14.69,4.38l-10.68-16.31c-.08-.12-.16-.25-.23-.38a12,12,0,0,0-20.89,11.83l22.13,33.79a8,8,0,0,1-13.39,8.76l-22.26-34-.24-.38A28,28,0,0,1,176,176.4V64H160a8,8,0,0,1,0-16h16a16,16,0,0,1,16,16v59.62A90.89,90.89,0,0,1,232,198.65ZM88,56a8,8,0,0,0-8-8H64A16,16,0,0,0,48,64V200a8,8,0,0,0,16,0V64H80A8,8,0,0,0,88,56Zm69.66,42.34a8,8,0,0,0-11.32,0L128,116.69V16a8,8,0,0,0-16,0V116.69L93.66,98.34a8,8,0,0,0-11.32,11.32l32,32a8,8,0,0,0,11.32,0l32-32A8,8,0,0,0,157.66,98.34Z">
                    </path>
                </svg>
                Abholung
                <span class="text-sm">ca. 35 min</span>
            </div>
        </div>
    </div>
    <div class="empty-basket-status show">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 256 256">
            <path
                d="M216,40H40A16,16,0,0,0,24,56V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A16,16,0,0,0,216,40Zm0,16V72H40V56Zm0,144H40V88H216V200Zm-40-88a48,48,0,0,1-96,0,8,8,0,0,1,16,0,32,32,0,0,0,64,0,8,8,0,0,1,16,0Z">
            </path>
        </svg>
        <h3>Fülle deinen Warenkorb</h3>
        <p class="text-sm">Füge einige leckere Gerichte aus der Speisekarte hinzu und bestelle dein Essen.</p>
    </div>
    <div class="hidden full-basket-status"></div>
    <div id="alert-delivery" class="hidden text-xs alert">
        <div class="alert-delivery-value">
            <p>Benötigter Betrag, um den Mindestbestellwert zu erreichen</p>
            <p class="alert-flex-item"></p>
        </div>
        <div class="alert-delivery-description">
            <p>
                Leider kannst du noch nicht bestellen. Bowls & Rolls liefert erst ab einem Mindestbestellwert von ${formatNumberToGerman(minimumOrderValue)} (exkl. Lieferkosten).
            </p>
        </div>
    </div>
    <div class="hidden basket-total"></div>
    <div class="hidden order-button-container">
        <button id="order-button-desktop" class="btn btn-circle btn-block">Bestellen</button>
    </div>
</div>