<div class="basket-item">
    <div class="basket-item-header">
        <div class="basket-item-price">
            <h4>${dish.quantity}</h4>
            <h4>${dish.name}</h4>
        </div>
        <p>${(dish.price * dish.quantity).toFixed(2)} €</p>
    </div>
    <div class="basket-item-controls">
        <div class="quantity-controls">
            <button onclick="decreaseQuantity('${dish.name}')" class="btn btn-neutral btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 256 256">
                    <path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z"></path>
                </svg>
            </button>
            <h4>${dish.quantity}</h4>
            <button onclick="increaseQuantity('${dish.name}')" class="btn btn-neutral btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 256 256">
                    <path d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z"></path>
                </svg>
            </button>
        </div>
        <button onclick="deleteItemFromBasket('${dish.name}')" class="btn btn-error btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 256 256">
                <path
                    d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM96,40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96Zm96,168H64V64H192ZM112,104v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Z">
                </path>
            </svg>
        </button>
    </div>
    <div class="divider-horizontal"></div>
</div>